<app-header></app-header>
      <div class="container">
        <div class="row">
          <div class="card col-md-4 col-sm-6 col-xs-12" *ngFor="let p of products">
              <div class="alert alert-secondary app-clickable"
                  [routerLink]="['/products']">
                  <div class="card-body">
                      <h5 class="card-title">{{p.name}}</h5>
                      <p>{{p.price}} €</p>
                      <img class="img-fluid img-thumbnail" src="{{ p.image}}" alt="Card image cap">
                      <button type="button"
                      class="btn btn-link btn-sm"
                      (click)="showClientProduct(p.id)">
                      Ver
                  </button>
                  </div>
              </div>
          </div>
      </div>
    <router-outlet></router-outlet>
</div>
