<div class="product-details">
  <div class="card" *ngIf="product">
      <div class="card-body">
          <h5 class="card-title">Se va a proceder a la eliminación del siguiente producto:</h5>
          <h6 class="card-subtitle mb-2 text-muted"> {{product.name}}</h6>
          <p>
              {{product.description}}
          </p>
          <a [routerLink]="['/products']" class="btn btn-secondary">Volver</a>
          <button (click)="deleteProduct(product.id)" class="btn btn-danger">Aceptar</button>
      </div>
  </div>
</div>
