<app-header-list></app-header-list>

<p *ngIf="!products"><b>Cargando...</b></p>

<table class="table table-striped" *ngIf="products">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Sku</th>
        <th>Precio</th>
        <th>Color</th>
        <th>Disponible</th>
        <th>Talla</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description | slice: 0:50}}...</td>
        <td>{{product.sku}}</td>
        <td>{{product.price}}</td>
        <td>{{product.color}}</td>
        <td>{{product.isAvailable==true?"Sí":"No"}}</td>
        <td>{{product.size}}</td>
        <td>
            <button type="button"
                class="btn btn-link btn-sm"
                (click)="showProduct(product.id)">
                Ver
            </button>
            <button type="button"
                class="btn btn-secondary btn-sm"
                (click)="updateProduct(product.id)">
                Editar
            </button>
            <button type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteProduct(product.id)">
                Borrar
            </button>
        </td>
    </tr>

</tbody>
</table>
