

<div class="product-details .align-item-center" >
  <div class="card mx-auto" *ngIf="product">
      <div class="card-body">
          <h5 class="card-title">Nombre del producto: {{product.name}}</h5>
          <p>
              Descripción del producto: {{product.description}}
          </p>
          <p> Precio: {{ product.price}} € </p>
          <img class="img-fluid img-thumbnail" src="{{product.image}}" alt="Card image cap">
          <a [routerLink]="['/allclient-product']" class="card-link">Volver</a>
      </div>
  </div>
</div>
