<div class="update-product">
  <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="id" class="required">Id</label>
          <input readonly type="number" class="form-control" id="id" formControlName="id" placeholder="ID Producto">
      </div>
      <div class="form-group">
          <label for="name" class="required">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre del producto">
      </div>
      <div class="form-group">
        <label for="sku" class="required">SKU</label>
        <input type="text" class="form-control" id="name" formControlName="sku" placeholder="SKU">
    </div>
      <div class="form-group">
          <label for="description" class="required">Descripción</label>
          <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Descripción del producto">

          </textarea>
      </div>
      <div class="form-group">
        <label for="image" class="required">Imagen</label>
        <textarea type="text" class="form-control" id="image" formControlName="image" placeholder="Imagen del producto">

        </textarea>
    </div>


      <div class="row">

          <div class="col-md-4 col-xs-4 col-sm-4">
            <label for="price" class="required">Precio</label>
            <input type="number" class="form-control" id="price" formControlName="price" placeholder="Precio">
          </div>

          <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="form-group">
                  <label for="size">Talla</label>
                  <input type="text"
                  class="form-control"
                  id="size"
                  formControlName="size"
                  placeholder="Talla">
              </div>
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4">
              <div class="form-group">
                  <label for="color">Color</label>
                      <input
                      type="text"
                      class="form-control"
                      id="color"
                      formControlName="color"
                      placeholder="Color">
              </div>
          </div>

      </div>

      <button class="btn btn-success" type="submit">Actualizar</button>
      <button class="btn btn-default" [routerLink]="['/products']">Cancelar</button>

  </form>
  </div>
