<div class="alert alert-info">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3 class="app-clickable" [routerLink]="['/show-product']">Buscador productos</h3>
          </div>
          <div class="col-md-8">
              <form (submit)="submitHandler($event)">
                  <input type="search" name="queryTerm"
                  autofocus="autofocus"
                  [(ngModel)]="queryTerm"
                  value = "Mem"
                  placeholder="Introduzca Producto"
                  class="form-control">
              </form>
          </div>
      </div>

  </div>
</div>
