<div class="add-product">
  <div *ngIf="showError" class="alert alert-danger" role="alert">
      Product was not added to your library. Please, try again!
  </div>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="name" class="required">Nombre</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre del producto">
  </div>
  <div *ngIf="addProductForm.controls['name'].invalid  && (addProductForm.controls['name'].dirty || addProductForm.controls['name'].touched)" class="alert alert-danger">
      <div *ngIf="addProductForm.controls['name'].errors.required">
          El nombre del producto es obligatorio
      </div>
  </div>
  <div class="form-group">
      <label for="sku" class="required">SKU</label>
      <input type="text" class="form-control" id="sku" formControlName="sku" placeholder="SKU del producto">
  </div>
  <div *ngIf="addProductForm.controls['sku'].invalid  && (addProductForm.controls['sku'].dirty || addProductForm.controls['sku'].touched)" class="alert alert-danger">
      <div *ngIf="addProductForm.controls['sku'].errors.required">
          El SKU is obligatorio
      </div>
  </div>

  <div class="form-group">
      <label for="description" class="required">Descripción</label>
      <input type="text" class="form-control" id="description" formControlName="description" placeholder="Descripción del producto">
  </div>

  <div class="form-group">
    <label for="image" class="required">Imagen</label>
    <input type="text" class="form-control" id="image" formControlName="image" placeholder="Imagen del producto">
</div>
  <div *ngIf="addProductForm.controls['description'].invalid  && (addProductForm.controls['description'].dirty || addProductForm.controls['description'].touched)" class="alert alert-danger">
          <div *ngIf="addProductForm.controls['description'].errors.required">
              La descripción del producto es obligatoria
          </div>
          <div *ngIf="addProductForm.controls['description'].errors.minlength">
              La descripción debe contener al menos 10 caracteres
          </div>
      </div>

  <div class="row">
      <div class="col-md-4 col-xs-4 col-sm-4">
          <div class="form-group">
              <label for="price">Precio</label>
              <input type="number" min="0" max="100" class="form-control"
              id="price"  formControlName="price" placeholder="Precio">
          </div>
      </div>
      <div class="col-md-4 col-xs-4 col-sm-4">
        <div class="form-group">
            <label for="size">Talla</label>
            <input type="string" class="form-control"
            id="size"  formControlName="size" placeholder="Talla">
        </div>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4">
      <div class="form-group">
          <label for="color">Color</label>
          <input type="string" class="form-control"
          id="color"  formControlName="color" placeholder="Color">
      </div>
  </div>
  </div>

  <button class="btn btn-success" type="submit" [disabled]="addProductForm.pristine || addProductForm.invalid">Añadir</button>
  <button class="btn btn-default" [routerLink]="['/products']">Cancelar</button>

</form>
</div>
