

<div class="product-details .align-item-center" >
  <div class="card mx-auto" *ngIf="product">
      <div class="card-body">
          <h5 class="card-title">Nombre del producto: {{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> Sku del producto: {{product.sku}}</h6>
          <p>
              Descripción del producto: {{product.description}}
          </p>
          <p> Precio: {{ product.price}} € </p>
          <img class="img-fluid img-thumbnail" src="{{product.image}}" alt="Card image cap">
          <p class="card-text"><small class="text-muted">Última actualización: 10/06/2020 por administador</small></p>
          <a [routerLink]="['/products']" class="card-link">Volver</a>
          <a [routerLink]="['/update-product', product.id]" class="card-link">Actualizar</a>
      </div>
  </div>
</div>
