<div class="jumbotron">
  <h1 class="display-4">TFG Borja Montes</h1>
  <p class="lead">Esta aplicación que permite realizar operaciones CRUD en la entidad productos por parte de un administrador
     y visualizarlos desde el punto de vista de un cliente .</p>

  <hr class="my-4">
  <p></p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="http://localhost:4123/allclient-product" role="button">Ver productos disponibles para el cliente</a>
  </p>
</div>
