<div class="alert alert-info">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h3 class="app-clickable" [routerLink]="['/show-product']">Listado productos</h3>
          </div>
      </div>
  </div>
</div>
