a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
    color: blue;

  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(66, 43, 168, 0.05);
}
