<app-header-list></app-header-list>
<div class="row">
  <div class="card col-md-4 col-sm-6 col-xs-12" *ngFor="let p of products">
      <div class="alert alert-secondary app-clickable"
          [routerLink]="['/show-client-product/', p.id]">
          <div class="card-body">
              <h5 class="card-title">{{ p.name }}</h5>
              <p>{{ p.description }}</p>
              <p>Precio: {{p.price}} €</p>
              <img class="img-fluid img-thumbnail" src="{{ p.image}}" alt="Card image cap">
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>

